section{ padding: 50px 0px; }
.center-cropped  { width: 100%; height: 500px; background-image: url(../images/investment-banner.jpg); background-position: center; 
	background-repeat: no-repeat; background-size: cover; }
h1,h2,h3,h4,h5,h6{ margin: 20px 0px!important; font-weight: 600; }
p{ margin: 20px 0px!important;font-size: 16px;  }
.banner .content { position: relative; width: 35%; top: 25%; left: 5%; color: #fff; background-color:rgb(0 0 0 / 84%); padding: 10px 20px; }
.btn-custom { background: #ed4223;  border-color: #ed4223!important; color: #fff;    border-radius: 5px; }
.btn-custom:hover {  background: #d4381d;  border-color: #d4381d;  color: #fff!important; }
img { width: 100%;}
.whatgi{text-align: center;}
.whatgi span{ display: block; margin-top: 10px; font-weight: 300; font-size: 18px;}
.whatgi h1{text-align: center;}
.bgf7{background-color: #f7f7f7!important;}
.gicontent:after { content: ''; display: block; margin-top: 30px; width: 40px; border-top: 2px solid #444;    margin-left: 45%; }
.featuresgi-block { background-color: #fff; box-shadow: 1px 0px 5px 0px #c4c4c4; border-radius: 10px;   min-height: 450px;  max-height: 460px; 
	margin-bottom: 30px; padding: 50px 40px 30px 40px; position: relative; text-align: center; }
.featuresgi-block .icon {  background-color: rgb(237 66 35 / 32%);  border-radius: 50%;  height: 130px;  line-height: 130px;  margin: 0 auto;  width: 130px; }
.featuresgi-block .icon span {  color: #ed4223;  font-size: 68px;  line-height: 130px; }
.subs-plan { background-color: #ffffff; border: 1px solid #ebebeb; border-radius: 8px; margin-bottom: 30px; padding: 30px; text-align: center; }
.subs_header {  padding: 0px 0px 20px 0px;  }
.subs-plan .subs_header .price { font-size: 40px; color: #ed4223; font-weight: bold; margin-bottom: 20px; }
.subs-plan .subs_header h4 { font-size: 18px;  color: #484848; font-weight: bold; }
.subs-plan .subs_content ul li {  font-size: 14px;  color: #484848;line-height: 3.5; }
.subs-plan .subs_footer {    margin-top: 20px; }
.subs-plan:hover { cursor: pointer;  -webkit-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);  
	-moz-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);  -o-box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);  
	box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);}
.featuresgi-block .icon img {    padding: 25px;}
.timeline { position: relative; max-width: 1200px; margin: 0 auto;	}
.timeline::after { content: ''; position: absolute; width: 6px; background-color: #ed4223; top: 0; bottom: 0; left: 50%; margin-left: -3px;	}
.timelinecontainer { padding: 10px 40px; position: relative; background-color: inherit; width: 50%;	}
.timelinecontainer::after { content: ''; position: absolute; width: 25px; height: 25px; right: -12px; background-color: white; border: 4px solid #ed4223;
	 top: 15px; border-radius: 50%; z-index: 1;	}
.left { left: 0;	}
.right { left: 50%;	}
.left::before { content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1; right: 30px; border: medium solid #ed4223; 
	border-width: 10px 0 10px 10px; border-color: transparent transparent transparent #ed4223;	}
.right::before { content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1; left: 30px; border: medium solid #ed4223; 
	border-width: 10px 10px 10px 0; border-color: transparent #ed4223 transparent transparent;	}
.right::after { left: -12px;	}
.timelinecontent { padding: 10px 20px; background-color: white;  border-radius: 6px;border: 1px solid #ed4223;	}
.steps-btn{text-align: center;margin-top: 30px;}
.card-header { padding: 10px 15px; margin-bottom: 0; background-color: #f7f7f7; border-bottom: none; }
a {    color: #ed4223;}
a:hover {    color: #d4381d;}
ul, ol { list-style: none; margin: 0; padding: 0;}
.mb0 {  margin-bottom: 0px !important;}
.mrtop-md{  margin-top: 50px;}
@media screen and (max-width: 992px)
{
	p { font-size: 27px!important; }
	h2, .h2 {font-size: 50px; }
	.offset-2 {    margin-left: 0%!important;}
	.col-md-6, .col-md-4, .col-md-3 {  -ms-flex: 0 0 100%!important;  flex: 0 0 100%!important;  max-width: 100%!important;	}
	.banner .content { width: 90%!important; top: 20%!important; }
	.btn-custom { background: #ed4223;  border-color: #ed4223!important; font-size: 20px!important; color: #fff;  padding: 15px 40px!important; }
	.whatgi span{font-size: 24px!important;}
	.timeline::after { left: 31px;  }
	.timelinecontainer { width: 100%; padding-left: 70px; padding-right: 25px;  }
	.timelinecontainer::before { left: 60px; border: medium solid #ed4223; border-width: 10px 10px 10px 0;
	 border-color: transparent #ed4223 transparent transparent; }
	.left::after, .right::after { left: 18px; }
	.right { left: 0%; }
}